.error {
  text-align: center;
  padding: 5rem 0;

  button {
    margin: 40px 0;
    padding: 10px 30px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid #0e3ff2;
    background-color: #fff;
    color: #0e3ff2;
  }
}
