<section class="loading" *ngIf="isLoading">
  <img src="assets/michi.gif" alt="a pepe dancing" width="300">
  <h2>Processing...</h2>
</section>

<section *ngIf="!isLoading && loggedInUser" class="log">
  <div class="user">
    <h2>Do you wish to log out {{loggedInUser.userConnected.user.userName?.toUpperCase()}}?</h2>
    <img src={{loggedInUser.userConnected.user.avatar?.url}} alt={{loggedInUser.userConnected.user.userName}}>
  </div>
  <div class="log">
    <button type="submit" (click)="handleLogout()">Log Out</button>
  </div>
</section>

<section class="container" *ngIf="!isLoading && !loggedInUser">
  <div>
    <img src="../../../assets/pepe-login.png" alt="sad momento when no react" height="305" width="298">
  </div>
  <div class="form">
    <form [formGroup]="login" (ngSubmit)="handleSubmit()">
      <label for="user">User</label>
      <input type="text" id="user" formControlName="user">
      <label for="passwd">Password</label>
      <input type="password" id="passwd" formControlName="passwd">
      <button type="submit">Log In</button>
    </form>
  </div>
</section>
